<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sample 003</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-inverse navbar-default navbar-static-top">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">ホーム</a>
    </div>

    <div class="collaspe navbar-collaspe" id="bs-navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">Dummy Link</a></li>
        <li><a href="#">Dummy Link</a></li>
        <% if user_signed_in? %>
          <li><p><%= current_user.account %></p></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        <% end %>
      </ul>
    </div>

  </nav>

  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
